#services {
    padding-top: 30px;
    padding-bottom: 30px;
}

.service-box {
    border-radius: 10px;
    border: 0;
    background-color: #fdfcfc;
    position: relative;
    overflow: hidden;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: -1px 8px 18px rgba(179, 22, 22, 0.486);
    margin: 80px;
    font-size: 30px;
}
.pricing-price-holder {
    -webkit-box-flex: 1.3;
    -moz-box-flex: 1.3;
    -webkit-flex: 1.3;
    -ms-flex: 1.3;
    flex: 1.3;
    padding: 30px 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    background-color: #994651b0;
    color: #1f1f24;
}
.center1 {

    position: relative;

}

.mostrar {
    color: blueviolet;
    border-bottom: #1f1f24;
    font-size: 30px;
}
