/*------------------------------------------------------------------
	Importando Recursos
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700");

@import url("https://fonts.googleapis.com/css?family=Rubik:400,500");

@import url("../fonts/hostify.css");

/*------------------------------------------------------------------
	Clases para el Header
-------------------------------------------------------------------*/
*, body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

a, input[type=submit] {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.row-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #2F3C52;
    position: relative;
    margin-top: 30px;
    margin-top: 0;
    margin-bottom: 5px;
}

.row-subtitle {
    position: relative;
    text-align: center;
    top: 5px;
    font-size: 19px;
    color: #7D8EA8;
    font-weight: 400;
    margin-bottom: 50px;
}

.row-subtitle:after {
    position: absolute;
    content: "";
    width: 156px;
    height: 2px;
    background-color: #D9E3F2;
    left: 50%;
    margin-left: -78px;
    bottom: -15px;
}

.ybtn {
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 9px 26px;
    margin: 5px 10px;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.ybtn:hover, .ybtn:focus {
    text-decoration: none;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.ybtn-small {
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    text-transform: none;
    padding: 5px 15px;
    margin: 2px 4px;
}

.ybtn-shadow {
    -webkit-box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
}

.ybtn-accent-color {
    color: #ffffff;
    background-color: #3195ff;
}

.ybtn-accent-color:hover, .ybtn-accent-color:focus {
    color: #ffffff;
    background-color: #1888ff;
}

.ybtn-header-color {
    color: #ffffff;
    background-color: #3195ff;
}

.ybtn-header-color:hover, .ybtn-header-color:focus {
    color: #ffffff;
    background-color: #1888ff;
}

.ybtn-other-color {
    color: #ffffff;
    background-color: #332f5c;
}

.ybtn-other-color:hover, .ybtn-other-color:focus {
    color: #ffffff;
    background-color: #201e3a;
}

.ybtn-white {
    color: #66556b;
    background-color: #ffffff;
}

.ybtn-white:hover, .ybtn-white:focus {
    color: #000;
    background-color: #ffffff;
}

/*------------------------------------------------------------------
	2. Header Styles
-------------------------------------------------------------------*/
#header-holder {
    position: relative;
    z-index: 100;
    background-size: 100% 100%;
    background-image: -webkit-linear-gradient(150deg, #93c0ff, #24a7ff);
    background-image: -o-linear-gradient(150deg, #0a5dd3, #24a7ff);
    background-image: linear-gradient(150deg, #0a5dd3, #39b0ff);
    border-radius: 0px 0px 222px 0px;
    padding-top: 15px;
}

#header-holder .bg-animation {
    position: absolute;
    opacity: 30%;
    left: 0%;
    top: -20%;
    width: 100%;
    height: 108%;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1886EB;
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    transform: skewY(-10deg);
    z-index: -1;
}

#header-holder #nav {
    border: 0;
    background-color: transparent;
}

/*------------------------------------------------------------------
	3. Nav Bar
-------------------------------------------------------------------*/
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-default .navbar-nav > li > a.login-button {
    margin-left: 30px;
}

.navbar-default .navbar-nav > .active a, .navbar-default .navbar-nav > .active a:focus, .navbar-default .navbar-nav > .active a:hover {
    color: #dbc2fe;
    background-color: transparent;
}

.support-button-holder {
    border-radius: 4px;
}

.support-button-holder a.support-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 9px 30px;
    background-color: #0d65d8;
    border-radius: 10px;
    color: #ffffff;
    opacity: 1;
    margin-top: 11px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    -webkit-box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.support-button-holder a.support-button:hover, .support-button-holder a.support-button:focus {
    border-radius: 10px;
    background-color: #0c5cc5 !important;
    color: #ffffff !important;
    opacity: 1 !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.navbar-default .navbar-toggle {
    border: 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    opacity: 0.7;
}

.navbar-toggle {
    margin-top: 10px;
}

.navbar-nav > li > .dropdown-menu {
    border-radius: 10px;
}

.support-button-holder {
    perspective: 1000px;
    position: relative;
    z-index: 1000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.support-button-holder:hover .dropdown-menu, .support-button-holder:focus .dropdown-menu {
    display: block;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/*------------------------------------------------------------------
	3. Top Content Styles
-------------------------------------------------------------------*/
#top-content {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}

#top-content .big-title {
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    line-height: 62px;
    margin-bottom: 40px;
}

#top-content .big-title span {
    font-size: 48px;
    color: #84ebad;
    font-weight: 700;
}

#top-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 38px;
}

#top-content .domain-search-holder {
    margin-bottom: 120px;
}

#top-content .domain-search-holder input[type=text] {
    padding: 20px 35px;
    border-radius: 10px;
    background-color: #f1f4f5;
    font-size: 18px;
    color: #87838e;
    border: 0;
    outline: 0;
    width: 100%;
    max-width: 420px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#top-content .domain-search-holder input[type=text]:hover, #top-content .domain-search-holder input[type=text]:focus {
    background-color: #f4f7f8;
}

#top-content .domain-search-holder input[type=submit] {
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #0d65d8;
    font-size: 18px;
    color: #ffffff;
    border: 0;
    margin-left: 8px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    outline: none;
}

#top-content .domain-search-holder input[type=submit]:hover, #top-content .domain-search-holder input[type=submit]:focus {
    background-color: #0c5cc5;
}

#top-content .domain-search-holder ::-webkit-input-placeholder {
    color: #87838e;
}

#top-content .domain-search-holder :-moz-placeholder {
    color: #87838e;
}

#top-content .domain-search-holder ::-moz-placeholder {
    color: #87838e;
}

#top-content .domain-search-holder :-ms-input-placeholder {
    color: #87838e;
}

#header-holder.main-header .bg-animation {
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: none;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(150deg, #0a5dd3, #24a7ff);
    background-image: -o-linear-gradient(150deg, #0a5dd3, #24a7ff);
    background-image: linear-gradient(150deg, #0a5dd3, #24a7ff);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    -ms-transform: skewY(-8deg);
    transform: skewY(-8deg);
    z-index: -1;
}

#header-holder.main-header .bg-animation .graphic-show {
    position: absolute;
    display: inline-block;
    right: calc(50% - 600px);
    bottom: 0;
    width: 100%;
    max-width: 600px;
    -webkit-transform: skewY(8deg);
    -moz-transform: skewY(8deg);
    -ms-transform: skewY(8deg);
    transform: skewY(8deg);
}

#header-holder.main-header .bg-animation .graphic-show .fix-size {
    width: 100%;
    opacity: 0;
}

#header-holder.main-header .bg-animation .graphic-show .img {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
}

#header-holder.main-header .bg-animation .graphic-show .img.img1 {
    margin-top: 85px;
    -webkit-animation: slide-fade1 15s linear infinite;
    -moz-animation: slide-fade1 15s linear infinite;
    -ms-animation: slide-fade1 15s linear infinite;
    animation: slide-fade1 15s linear infinite;
}

#header-holder.main-header .bg-animation .graphic-show .img.img2 {
    margin-top: 48px;
    -webkit-animation: slide-fade2 15s linear infinite;
    -moz-animation: slide-fade2 15s linear infinite;
    -ms-animation: slide-fade2 15s linear infinite;
    animation: slide-fade2 15s linear infinite;
}

#header-holder.main-header .bg-animation .graphic-show .img.img3 {
    -webkit-animation: slide-fade3 15s linear infinite;
    -moz-animation: slide-fade3 15s linear infinite;
    -ms-animation: slide-fade3 15s linear infinite;
    animation: slide-fade3 15s linear infinite;
}

#header-holder.main-header #top-content {
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: left;
}

#header-holder.main-header #top-content .noti-holder .noti {
    position: relative;
    display: inline-block;
    padding: 4px 6px;
    padding-right: 30px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation: fade-animation 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.5s forwards;
    -moz-animation: fade-animation 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.5s forwards;
    -ms-animation: fade-animation 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.5s forwards;
    animation: fade-animation 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.5s forwards;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#header-holder.main-header #top-content .noti-holder .noti:after {
    position: absolute;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    color: #fff;
    width: 8px;
    height: 20px;
    right: 8px;
    top: 50%;
    margin-top: -8px;
    opacity: 0;
    transform: scale(0.7);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation: fade-animation 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.9s forwards;
    -moz-animation: fade-animation 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.9s forwards;
    -ms-animation: fade-animation 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.9s forwards;
    animation: fade-animation 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.9s forwards;
}

#header-holder.main-header #top-content .noti-holder .noti .badge {
    margin-right: 8px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    border: 0;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(100deg, #23a6fe, #0a92e9);
    background-image: -o-linear-gradient(100deg, #23a6fe, #0a92e9);
    background-image: linear-gradient(100deg, #23a6fe, #0a92e9);
    margin-top: -2px;
    opacity: 0;
    transform: scale(0.1);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: fade-animation2 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.7s forwards;
    -moz-animation: fade-animation2 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.7s forwards;
    -ms-animation: fade-animation2 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.7s forwards;
    animation: fade-animation2 0.5s cubic-bezier(0.34, 1.61, 0.7, 1) 0.7s forwards;
}

#header-holder.main-header #top-content .noti-holder .noti .text {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

#header-holder.main-header #top-content .noti-holder a {
    display: inline-block;
    outline: none;
}

#header-holder.main-header #top-content .noti-holder a:hover .noti, #header-holder.main-header #top-content .noti-holder a:focus .noti {
    background-color: rgba(0, 0, 0, 0.14);
}

#header-holder.main-header #top-content .spacer {
    margin-bottom: 45px;
}

#header-holder.main-header #top-content .big-title {
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    line-height: 62px;
    margin-bottom: 25px;
    margin-bottom: 15px;
}

#header-holder.main-header #top-content .big-title span {
    font-size: 48px;
    color: #84ebad;
    font-weight: 700;
}

#header-holder.main-header #top-content p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
}

#header-holder.main-header #top-content .btn-holder a:first-child {
    margin-left: 0;
}

#header-holder.main-header #top-content .btn-holder a:last-child {
    margin-right: 0;
}

#header-holder.main-header #top-content .slide > div {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -webkit-transform: scale(1) rotateX(0deg) translateY(0px) !important;
    -moz-transform: scale(1) rotateX(0deg) translateY(0px) !important;
    -ms-transform: scale(1) rotateX(0deg) translateY(0px) !important;
    transform: scale(1) rotateX(0deg) translateY(0px) !important;
    opacity: 1 !important;
}

#header-holder.main-header .header-graphic {
    width: 100%;
    max-width: 640px;
    opacity: 0;
}

@keyframes slide-fade1 {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    27% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    57% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    64% {
        opacity: 0;
    }

    94% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-fade2 {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 0;
    }

    27% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    57% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    64% {
        opacity: 0;
    }

    94% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-fade3 {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 0;
    }

    27% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    57% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    64% {
        opacity: 1;
    }

    96% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-animation2 {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animated {
    -webkit-animation: animation 2s ease forwards;
    -moz-animation: animation 2s ease forwards;
    -ms-animation: animation 2s ease forwards;
    animation: animation 2s ease forwards;
}

.animation-delay1 {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.animation-delay2 {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

@-webkit-keyframes animation {
    0% {
        -webkit-transform: scale(0.95) rotateX(-20deg) translateY(-30px);
        -moz-transform: scale(0.95) rotateX(-20deg) translateY(-30px);
        -ms-transform: scale(0.95) rotateX(-20deg) translateY(-30px);
        transform: scale(0.95) rotateX(-20deg) translateY(-30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1) rotateX(0deg) translateY(0px);
        -moz-transform: scale(1) rotateX(0deg) translateY(0px);
        -ms-transform: scale(1) rotateX(0deg) translateY(0px);
        transform: scale(1) rotateX(0deg) translateY(0px);
        opacity: 1;
    }
}

@keyframes animation {
    0% {
        -webkit-transform: scale(0.95) rotateX(-20deg) translateY(-30px);
        -moz-transform: scale(0.95) rotateX(-20deg) translateY(-30px);
        -ms-transform: scale(0.95) rotateX(-20deg) translateY(-30px);
        transform: scale(0.95) rotateX(-20deg) translateY(-30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1) rotateX(0deg) translateY(0px);
        -moz-transform: scale(1) rotateX(0deg) translateY(0px);
        -ms-transform: scale(1) rotateX(0deg) translateY(0px);
        transform: scale(1) rotateX(0deg) translateY(0px);
        opacity: 1;
    }
}

#main-slider .slide {
    perspective: 1000px;
}

#main-slider .slide > div:nth-child(1), #main-slider .slide > div:nth-child(2) {
    opacity: 0;
}

#main-slider .slide .icon-holder {
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
}

#main-slider .slide .icon-holder .icon-bg {
    position: absolute;
    display: inline-block;
    width: 85px;
    height: 85px;
    left: 50%;
    margin-left: -43px;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 200px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
}

#main-slider .slide .icon-holder .icon-bg:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 200px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.7s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.7s cubic-bezier(0.34, 1.61, 0.7, 1);
}

#main-slider .slide .icon-holder .icon-bg:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 200px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(2.3);
    -moz-transform: scale(2.3);
    -ms-transform: scale(2.3);
    transform: scale(2.3);
    -webkit-transition: all 0.5s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.34, 1.61, 0.7, 1);
}

#main-slider .slide .icon-holder .icon-bg:hover {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

#main-slider .slide .icon-holder .icon-bg:hover:before {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

#main-slider .slide .icon-holder .icon-bg:hover:after {
    -webkit-transform: scale(2.1);
    -moz-transform: scale(2.1);
    -ms-transform: scale(2.1);
    transform: scale(2.1);
}

#main-slider .slide .icon-holder .htfy, #main-slider .slide .icon-holder [class*=fa] {
    position: relative;
    z-index: 10;
    color: #ffffff;
    font-size: 68px;
    margin-top: 5px;
    pointer-events: none;
}

#main-slider .slide .icon-holder .htfy-trophy {
    margin-top: 7px;
}

#main-slider .slide .icon-holder img {
    width: 68px;
}

#main-slider .domainsearch-slide {
    position: relative;
}

#main-slider .domainsearch-slide .image-holder {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100px;
    z-index: -1;
}

#main-slider .domainsearch-slide .image-holder img {
    width: 100%;
    max-width: 827px;
}

#main-slider .slick-dots li {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

/*------------------------------------------------------------------
	4. Text Styles
-------------------------------------------------------------------*/
#info {
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

#info .info-text {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 300;
    color: #3f3d59;
}

#h-info {
    background-color: #ffffff;
    padding-top: 60px;
    text-align: center;
}

#h-info .info-text {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 300;
    color: #3f3d59;
}

#h-info .purple-text {
    color: #7971e8;
}

#h-info .blue-text {
    color: #5d9cec;
}

#h-info .green-text {
    color: #26dd6c;
}

/*------------------------------------------------------------------
	6. Services Styles
-------------------------------------------------------------------*/

#services {
    padding-top: 30px;
    padding-bottom: 30px;
}

.service-box {
    border-radius: 10px;
    border: 0;
    background-color: #fcfcfd;
    position: relative;
    overflow: hidden;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: -1px 8px 18px rgba(0, 0, 0, 0.08);
}

.service-box:hover {
    border: 0;
    background-color: #fcfcfd;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.service-box .service-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -15px;
    margin-top: -62px;
}

.service-box .service-icon img {
    width: 128px;
}

.service-box .service-png img {
    width: 100px;
    height:100px;
}

.service-box .service-title {
    margin-left: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #2A4968;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-box .service-title a {
    font-size: 15px;
    font-weight: 600;
    color: #2A4968;
    background-color: #EBF2F9;
    border-radius: 20px;
    padding: 3px 24px 3px 15px;
    padding: 3px 15px 3px 15px;
    text-transform: uppercase;
    position: relative;
    right: -140px;
    top:-20px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.service-box .service-title a:hover, .service-box .service-title a:focus {
    text-decoration: none;
    background-color: #e5eef7;
}

.service-box .service-title a:hover:after, .service-box .service-title a:focus:after {
    right: 20px;
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
}

.service-box .service-details {
    margin-left: 120px;
    font-size: 16px;
    font-weight: 300;
    color: #7a7896;
}

.service-box .service-details p {
    font-size: 16px;
    font-weight: 300;
    color: #7a7896;
}

/*------------------------------------------------------------------
	7. Plans Styles
-------------------------------------------------------------------*/
.pricing-box {
    position: relative;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 340px;
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.pricing-box .pricing-content .pricing-title {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f3f5fd;
    display: inline-block;
    padding: 7px 18px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.pricing-box .pricing-content .pricing-link a {
    position: relative;
    color: #66556b;
    background-color: #ffffff;
    width: 100%;
    margin: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pricing-box.featured:hover .pricing-content:after {
    padding: 4px 5px;
}

.pricing-box.pricing-box-simple .pricing-content {
    background-color: #fcfcfd;
  /*padding: 35px 27px 27px 27px;*/
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: -1px 8px 18px rgba(0, 0, 0, 0.08);
    box-shadow: -1px 8px 18px rgba(0, 0, 0, 0.08);
}

.pricing-box.pricing-box-simple .pricing-content .pricing-head {
    position: relative;
    padding: 27px;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 35px;
    padding-bottom: 45px;
    overflow: hidden;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-head:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(90deg, #9c8df1, #7f29f0);
    background-image: -o-linear-gradient(90deg, #9c8df1, #7f29f0);
    background-image: linear-gradient(90deg, #F6DF2A, #F6DF2A);
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    transform: skewY(-7deg);
}

.pricing-box.pricing-box-simple .pricing-content .pricing-title {
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 10px 25px;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-features ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-options .nav {
    border-bottom: 0 !important;
    text-align: center;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-options .nav li {
    display: inline-block !important;
    float:  inherit;
    margin: 0 5px !important;
    padding: 4px !important;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-options .nav li a {
    padding: 3px 10px 4px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.62);
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 6px;
    border: 0;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-options .tab-content {
    padding-top: 10px;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-options .tab-content .tab-pane .pricing-price {
    color: #ffffff;
    font-size: 25px !important;
    font-weight: 300;
    display: inline-block;
    width: 100%;
    margin-bottom: 3px;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-options .tab-content .tab-pane .billing-cycle {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    line-height: 12px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-options .tab-content .tab-pane .setup-fee {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-options .tab-content .tab-pane .setup-fee:before {
    content: "+";
    font-size: 16px;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-details {
    padding: 0 27px;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-details ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 40px;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-details ul li {
    display: inline-block !important;
    padding: 2px 20px !important;
    width: inherit !important;
    border-radius: 50px;
    font-size: 14px;
    color: #777493;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    position: relative;
    min-width: 150px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);
}

.pricing-box.pricing-box-simple .pricing-content .pricing-details ul li[id^=product] {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-details > ul > li {
    padding: 6px 4px !important;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-link {
    position: relative;
    z-index: 1;
    padding: 27px;
}

.pricing-box.pricing-box-simple .pricing-content .pricing-link a {
    padding: 12px 20px;
    color: #ffffff;
    background-color: #3c3c3c;
}

.pricing-box.pricing-box-simple.pricing-color1 .pricing-content .pricing-head:before {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(90deg, #2ebaf2, #2b8cf2);
    background-image: -o-linear-gradient(90deg, #2ebaf2, #2b8cf2);
    background-image: linear-gradient(90deg, #37BCE5, #37BCE5);
}

.pricing-box.pricing-box-simple.pricing-color1 .pricing-content .pricing-link a {
    color: #ffffff;
    background-color: #37BCE5;
}

.pricing-box.pricing-box-simple.pricing-color2 .pricing-content .pricing-details ul li:hover {
    color: #8336f0;
}

.pricing-box.pricing-box-simple.pricing-color2 .pricing-content .pricing-link a {
    color: #ffffff;
    background-color: #F6DF2A;
}

.pricing-box.pricing-box-simple.pricing-color3 .pricing-content .pricing-head:before {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(90deg, #47f48f, #0dcf77);
    background-image: -o-linear-gradient(90deg, #47f48f, #0dcf77);
    background-image: linear-gradient(90deg, #FD4242, #FD4242);
}

.pricing-box.pricing-box-simple.pricing-color3 .pricing-content .pricing-details ul li:hover {
    color: #14d37a;
}

.pricing-box.pricing-box-simple.pricing-color3 .pricing-content .pricing-link a {
    color: #ffffff;
    background-color: #FD4242;
}

.pricing-box.pricing-box-simple:hover .pricing-content, .pricing-box.pricing-box-simple:focus .pricing-content {
    -webkit-box-shadow: -1px 8px 24px rgba(0, 0, 0, 0.11);
    box-shadow: -1px 8px 24px rgba(0, 0, 0, 0.11);
}

/*------------------------------------------------------------------
	8. Plans Boxes
-------------------------------------------------------------------*/
.pricing-box.pricing-box-horizontal {
    margin-top: 0;
    max-width: 100%;
    margin-bottom: 60px;
}

.pricing-box.pricing-box-horizontal .pricing-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-shadow: -1px 8px 18px rgba(0, 0, 0, 0.08);
    box-shadow: -1px 8px 18px rgba(0, 0, 0, 0.08);
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-head {
    -webkit-box-flex: 0.8;
    -moz-box-flex: 0.8;
    -webkit-flex: 0.8;
    -ms-flex: 0.8;
    flex: 0.8;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 27px;
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-head:before {
    -webkit-transform: skewY(0deg);
    -moz-transform: skewY(0deg);
    -ms-transform: skewY(0deg);
    transform: skewY(0deg);
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-head .pricing-title {
    margin-bottom: 90px;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-features-holder {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #f9f9fc;
    padding: 25px;
    color: #303030;
    font-size: 16px;
    font-weight: 200;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-features-holder .pricing-features ul li {
    color: #303030;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 7px !important;
    line-height: 23px;
}
.pricing-box.pricing-box-horizontal .pricing-content .pricing-details {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: center;
    align-content: center;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder {
    -webkit-box-flex: 1.3;
    -moz-box-flex: 1.3;
    -webkit-flex: 1.3;
    -ms-flex: 1.3;
    flex: 1.3;
    padding: 30px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    background-color: #f9f9fc;
    color: #777392;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder .pricing-options .nav li a {
    background-color: #f0f0f5 !important;
    color: #787593;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder .pricing-options .nav li.active a {
    background-color: #deefff !important;
    color: #3496ef;
}


.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder .pricing-options .tab-content .tab-pane .pricing-price {
    color: #777392;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder .pricing-options .tab-content .tab-pane .billing-cycle {
    color: #777392;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder .pricing-options .fix-space {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
    .pricing-box.pricing-box-horizontal .pricing-content .price-link-holder {
        -webkit-box-flex: 1.5;
        -moz-box-flex: 1.5;
        -webkit-flex: 1.5;
        -ms-flex: 1.5;
        flex: 1.5;
        -webkit-flex-direction: column;
        flex-direction: column;
        background-color: #f9f9fc;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .pricing-box.pricing-box-horizontal .pricing-content .price-link-holder .pricing-link a {
        width: inherit;
    }

    .pricing-header .th-link {
        display: none;
    }

@media (max-width: 992px) {
    .pricing-box.pricing-box-horizontal .pricing-content .pricing-features-holder {
        display: none;
    }

    .pricing-header .th-features {
        display: none;
    }
}

#page-icon {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#page-icon .pricing-icon {
    position: absolute;
    width: 88px;
    height: 88px;
    left: 50%;
    margin-left: -44px;
    bottom: -120px;
    border-radius: 200px;
    overflow: hidden;
    z-index: 100;
    -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
}

#page-icon .pricing-icon .htfy {
    color: #ffffff;
    font-size: 45px;
    margin-top: 21px;
}

#page-icon .pricing-icon .htfy-technology {
    margin-top: 26px;
}

#page-icon .pricing-icon [class*=fa] {
    color: #ffffff;
    font-size: 40px;
    margin-top: 25px;
}

#page-icon .pricing-icon.pricing-color1 {
    background-color: #756de7;
}

#page-icon .pricing-icon.pricing-color2 {
    background-color: #5d9cec;
}

#page-icon .pricing-icon.pricing-color3 {
    background-color: #65d692;
}

#page-icon .pricing-icon img {
    width: 100%;
}

#page-icon:hover .pricing-icon .special-gradiant {
    animation-name: little-move;
}

/*------------------------------------------------------------------
	9. ScrollBar Styles
-------------------------------------------------------------------*/
::-webkit-scrollbar{
    background-color:transparent;
    width:8px;

    }::-webkit-scrollbar-thumb{
    background-color:rgb(24, 134, 235);
    border-radius:0px;
    width:5%;
    }

/*------------------------------------------------------------------
	8. Plans Boxes
-------------------------------------------------------------------*/
.pricing-box.pricing-box-horizontal {
    margin-top: 0;
    max-width: 100%;
    margin-bottom: 60px;
}

.pricing-box.pricing-box-horizontal .pricing-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-shadow: -1px 8px 18px rgba(0, 0, 0, 0.08);
    box-shadow: -1px 8px 18px rgba(0, 0, 0, 0.08);
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-head {
    -webkit-box-flex: 0.8;
    -moz-box-flex: 0.8;
    -webkit-flex: 0.8;
    -ms-flex: 0.8;
    flex: 0.8;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 27px;
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-head:before {
    -webkit-transform: skewY(0deg);
    -moz-transform: skewY(0deg);
    -ms-transform: skewY(0deg);
    transform: skewY(0deg);
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-head .pricing-title {
    margin-bottom: 90px;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-features-holder {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #f9f9fc;
    padding: 25px;
    color: #303030;
    font-size: 16px;
    font-weight: 200;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-features-holder .pricing-features ul li {
    color: #303030;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 7px !important;
    line-height: 23px;
}
.pricing-box.pricing-box-horizontal .pricing-content .pricing-details {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: center;
    align-content: center;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder {
    -webkit-box-flex: 1.3;
    -moz-box-flex: 1.3;
    -webkit-flex: 1.3;
    -ms-flex: 1.3;
    flex: 1.3;
    padding: 30px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    background-color: #f9f9fc;
    color: #777392;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder .pricing-options .nav li a {
    background-color: #f0f0f5 !important;
    color: #787593;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder .pricing-options .nav li.active a {
    background-color: #deefff !important;
    color: #3496ef;
}


.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder .pricing-options .tab-content .tab-pane .pricing-price {
    color: #777392;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder .pricing-options .tab-content .tab-pane .billing-cycle {
    color: #777392;
}

.pricing-box.pricing-box-horizontal .pricing-content .pricing-price-holder .pricing-options .fix-space {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
    .pricing-box.pricing-box-horizontal .pricing-content .price-link-holder {
        -webkit-box-flex: 1.5;
        -moz-box-flex: 1.5;
        -webkit-flex: 1.5;
        -ms-flex: 1.5;
        flex: 1.5;
        -webkit-flex-direction: column;
        flex-direction: column;
        background-color: #f9f9fc;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .pricing-box.pricing-box-horizontal .pricing-content .price-link-holder .pricing-link a {
        width: inherit;
    }

    .pricing-header .th-link {
        display: none;
    }

@media (max-width: 992px) {
    .pricing-box.pricing-box-horizontal .pricing-content .pricing-features-holder {
        display: none;
    }

    .pricing-header .th-features {
        display: none;
    }
}

#page-icon {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#page-icon .pricing-icon {
    position: absolute;
    width: 88px;
    height: 88px;
    left: 50%;
    margin-left: -44px;
    bottom: -120px;
    border-radius: 200px;
    overflow: hidden;
    z-index: 100;
    -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
}

#page-icon .pricing-icon .htfy {
    color: #ffffff;
    font-size: 45px;
    margin-top: 21px;
}

#page-icon .pricing-icon .htfy-technology {
    margin-top: 26px;
}

#page-icon .pricing-icon [class*=fa] {
    color: #ffffff;
    font-size: 40px;
    margin-top: 25px;
}

#page-icon .pricing-icon.pricing-color1 {
    background-color: #756de7;
}

#page-icon .pricing-icon.pricing-color2 {
    background-color: #5d9cec;
}

#page-icon .pricing-icon.pricing-color3 {
    background-color: #65d692;
}

#page-icon .pricing-icon img {
    width: 100%;
}

#page-icon:hover .pricing-icon .special-gradiant {
    animation-name: little-move;
}
