
header{
    background: #1886EB;
    width: 100%;
    clear: both;
    content:'';
    display: table;


    }

nav ul li{
    list-style: none;
    margin-left: 60px;
    padding: 25px 0;
    float: left;
}
