:root {
    /* fonts */

    --font-montserrat: Montserrat;
    --font-poppins: Poppins;
    --font-montserrat-alternates: "Montserrat Alternates";

    /* font sizes */
    --font-size-3xs: 10px;
    --font-size-2xs: 11px;
    --font-size-xs: 12px;
    --font-size-sm: 13px;
    --font-size-base: 14px;
    --font-size-lg: 15px;
    --font-size-xl: 16px;
    --font-size-2xl: 17px;
    --font-size-3xl: 19px;
    --font-size-4xl: 20px;
    --font-size-5xl: 21px;
    --font-size-6xl: 22px;
    --font-size-7xl: 24px;
    --font-size-8xl: 26px;
    --font-size-9xl: 28px;
    --font-size-10xl: 30px;
    --font-size-11xl: 48px;
    --font-size-12xl: 50px;

    /* Colors */
    --color-black: #000;
    --con-derechos: #fff;
    --color-blue-100: #9747ff;
    --color-blue-200: #0f44ff;
    --color-gray-100: #fefefe;
    --color-gray-200: #fcfcfd;
    --color-gray-300: #f9f9fc;
    --color-gray-400: #f6f6f6;
    --color-gray-500: #f0f4fd;
    --color-gray-600: #f2f2f4;
    --color-gray-700: #ebf2f9;
    --color-gray-800: #efefef;
    --color-gray-900: #deefff;
    --color-gray-1000: #d8e9ff;
    --blanquito-costeo: #d9d9d9;
    --color-gray-1200: #abb4bc;
    --color-gray-1300: #9da9bc;
    --color-gray-1400: #9c9ca3;
    --color-gray-1500: #8493b4;
    --color-gray-1600: #4ea0e9;
    --color-gray-1700: #7d8ea8;
    --color-gray-1800: #3496ef;
    --color-gray-1900: #7f7f94;
    --color-gray-2000: #17a1fa;
    --color-gray-2100: #7a7896;
    --moradito-kawaii: #777493;
    --color-gray-2300: #777392;
    --color-gray-2400: #767676;
    --color-gray-2500: #707070;
    --color-gray-2600: #6a6a6a;
    --color-gray-2700: #326bbb;
    --color-gray-2800: #66556b;
    --color-gray-2900: #4f5467;
    --color-gray-3000: #545454;
    --color-gray-3100: #4a4a4a;
    --color-gray-3200: #44494f;
    --color-gray-3300: #2a4968;
    --color-gray-3400: #3f3d59;
    --color-gray-3500: #2f3c52;
    --color-gray-3600: #16386f;
    --color-gray-3700: #333;
    --color-gray-3800: #303030;
    --color-gray-3900: #1e2e50;
    --color-gray-4000: #2b2b2b;
    --color-gray-4100: #023156;
    --color-gray-4200: #232333;
    --color-gray-4300: #0d1e30;
    --color-gray-4400: rgba(82, 82, 128, 0.18);
    --color-gray-4500: rgba(255, 255, 255, 0.2);
    --color-gray-4600: rgba(0, 0, 0, 0.01);
    --color-gray-4700: rgba(255, 255, 255, 0.34);
    --color-violet-100: #3195ff;
    --azulito-tierno: #1886eb;
    --color-turquoise-100: #00c292;
    --azulito-plus: #0d65d8;
    --color-indigo-200: #0956b5;
    --color-teal: #25a6fa;
    --color-orange-100: #c2951f;

    /* Paddings */
    --padding-sm: 2px;
    --padding-md: 8px;
    --padding-lg: 16px;

    /* border radiuses */
    --br-7xs: 4px;
    --br-6xs: 5px;
    --br-5xs: 6px;
    --br-4xs: 8px;
    --br-3xs: 10px;
    --br-2xs: 12px;
    --br-xs: 15px;
    --br-sm: 20px;
    --br-md: 25px;
    --br-lg: 30px;
    --br-xl: 40px;
    --br-2xl: 50px;
    --br-3xl: 100px;
    --br-4xl: 162.5px;
    --br-5xl: 200px;
    --br-6xl: 360px;
    --br-7xl: 500px;
  }
